<app-navbar></app-navbar>
<div class="flex flex-col items-center px-5 my-12">
  @if (this.bookISBNInitial){
  <h1 class="mb-3">Edit Book: {{this.bookForm.value.title}}</h1>
  } @else {
  <h1 class="mb-3">Create Book</h1>
  }
  <form [formGroup]="bookForm" class="container lg:w-2/5 md:w-1/2 sm:w-2/3 w-3/4 " (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
      <label>Title:</label>
      <input type="text" formControlName="title">
      <div *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched" class="text-red-500">Title not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Author:</label>
      <input type="text" formControlName="author">
      <div *ngIf="bookForm.get('author')?.invalid && bookForm.get('author')?.touched" class="text-red-500">Author not valid</div>
    </div>
    <div class="flex flex-col">
      <label>ISBN:</label>
      <input type="text" formControlName="isbn">
      <div *ngIf="bookForm.get('isbn')?.invalid && bookForm.get('isbn')?.touched" class="text-red-500">ISBN not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Genre:</label>
      <input type="text" formControlName="genre">
      <div *ngIf="bookForm.get('genre')?.invalid && bookForm.get('genre')?.touched" class="text-red-500">Genre not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Publication Date:</label>
      <input [value]="this.bookForm.value.publicationDate.toString().split('T')[0]" type="date" formControlName="publicationDate">
      <div *ngIf="bookForm.get('publicationDate')?.invalid && bookForm.get('publicationDate')?.touched" class="text-red-500">Publication Date not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Publisher:</label>
      <input type="text" formControlName="publisher">
      <div *ngIf="bookForm.get('publisher')?.invalid && bookForm.get('publisher')?.touched" class="text-red-500">Publisher not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Language:</label>
      <input type="text" formControlName="language">
      <div *ngIf="bookForm.get('language')?.invalid && bookForm.get('language')?.touched" class="text-red-500">Language not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Description:</label>
      <textarea formControlName="description"></textarea>
      <div *ngIf="bookForm.get('description')?.invalid && bookForm.get('description')?.touched" class="text-red-500">Description not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Page Count:</label>
      <input type="number" formControlName="pageCount">
      <div *ngIf="bookForm.get('pageCount')?.invalid && bookForm.get('pageCount')?.touched" class="text-red-500">Page Count not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Cover Image URL:</label>
      <input type="text" formControlName="coverImage">
      <div *ngIf="bookForm.get('coverImage')?.invalid && bookForm.get('coverImage')?.touched" class="text-red-500">Cover image not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Format:</label>
      <input type="text" formControlName="format">
      <div *ngIf="bookForm.get('format')?.invalid && bookForm.get('format')?.touched" class="text-red-500">Format not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Availability:</label>
      <input type="text" formControlName="availability">
      <div *ngIf="bookForm.get('availability')?.invalid && bookForm.get('availability')?.touched" class="text-red-500">Availability not valid</div>
    </div>


    <div class="flex flex-col">
      <label class="text-center text-xl">Category:</label>
      <div class="flex flex-row">
        <select type="text" class="w-full py-2" formControlName="category" placeholder="Category name">
          @for (category of this.categories; track category.id) {
            <option class="py-1" [value]="category.id">{{category.name}}</option>
          }
          <option class="py-1" [value]="null" >No category selected</option>
        </select>
      </div>
      <app-new-category-modal [categoryId]="getSelectedCategory()"></app-new-category-modal>
      <button (click)="deleteSelectedCategory()" class="rounded-full border border-slate-900 bg-red-400 w-full" type="button">Delete selected category</button>
    </div>


    <div class="flex flex-col mt-4">
      <label class="text-center text-xl">Tags:</label>
      <div class="flex justify-center flex-wrap flex-row !mb-2">
          @for (tag of this.tags; track tag.id) {
            <div class="px-2 m-2 py-1 border border-slate-300 bg-slate-100 rounded-xl whitespace-nowrap">
              {{tag.name}}
              <input (change)="onChangeTag(tag)" [checked]="isTagSelected(tag)" type="checkbox" class="ms-2 py-1" [value]="tag.id">
            </div>
          }
      </div>
      <app-new-tag-modal [tags]="this.tags"></app-new-tag-modal>
      <button (click)="deleteSelectedTags()" class="rounded-full border border-slate-900 bg-red-400 w-full" type="button">Delete all selected tags</button>
    </div>


    <div class="flex flex-col">
      <label>Average Rating:</label>
      <input type="number" formControlName="averageRating" step="0.1" min="0" max="5">
      <div *ngIf="bookForm.get('averageRating')?.invalid && bookForm.get('averageRating')?.touched" class="text-red-500">Average Rating not valid</div>
    </div>
    <div class="flex flex-col">
      <label>Rating Count:</label>
      <input type="number" formControlName="ratingCount">
      <div *ngIf="bookForm.get('ratingCount')?.invalid && bookForm.get('ratingCount')?.touched" class="text-red-500">Rating Count not valid</div>
    </div>

    @if (this.bookISBNInitial){
      <button class="btn bg-green-400 w-full" type="submit">Update Book</button>
    } @else {
      <button class="btn bg-green-400 w-full" type="submit">Create Book</button>
    }
    <button type="button" class="btn bg-gray-100 w-full" [routerLink]="['/books']">Go back</button>
    <div class="text-red-500 w-full text-center mt-2">{{this.errorMessage}}</div>
  </form>
</div>

