<div class="flex h-[100vh] justify-center items-center flex-col sm:my-0">
  <div class="p-8 flex flex-col border border-slate-200 rounded-lg items-center shadow-lg m-4">
    <h1 class="mb-1 font-bold">Register</h1>
    <h3 class="mb-3 font-semibold">Join the book club</h3>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label class="font-medium">User Name:</label>
        <input autocomplete="username" type="text" formControlName="name">
        <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="text-red-500">User name
          required</div>
      </div>
      <div class="flex flex-col">
        <label class="font-medium">User Email:</label>
        <input autocomplete="email" type="email" formControlName="email">
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-red-500">Email
          required</div>
      </div>
      <div class="flex flex-col">
        <label class="font-medium">User Password:</label>
        <input autocomplete="current-password" type="password" formControlName="password">
        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-red-500">
          Password required</div>
      </div>
      <div class="flex flex-col">
        <label>User Description:</label>
        <label class="text-sm">Important to generate user preferences</label>
        <textarea formControlName="description"></textarea>
        <div *ngIf="userForm.get('description')?.invalid && userForm.get('description')?.touched" class="text-red-500">
          Description required</div>
      </div>
      <button class="btn rounded-md bg-blue-700 w-full font-bold text-white" [disabled]="this.registering" type="submit">{{this.buttonText}}</button>
      <div class="text-red-500 w-full text-center mt-2">{{this.errorMessage}}</div>
      <a class="text-md me-6">
        Already have an account?
        <span [routerLink]="['/login']" class="text-blue-800 font-bold cursor-pointer">
          Go login
        </span>
      </a>
    </form>
  </div>
</div>
