<div class="flex h-[100vh] justify-center items-center flex-col sm:my-0">
  <div class="p-8 flex flex-col border border-slate-200 rounded-lg items-center shadow-lg m-4">
    <h1 class="mb-1 font-bold">Recover password</h1>
    <h3 class="mb-3 font-semibold">We are not perfect...</h3>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label class="font-medium">User Email:</label>
        <input autocomplete="email" type="email" formControlName="email">
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-red-500">Email required</div>
      </div>
      <button class="btn rounded-md disabled:bg-blue-400 bg-blue-700 w-full font-bold text-white" [disabled]="this.logging" type="submit">{{this.buttonText}}</button>
      <div class="text-red-500 w-full text-center mt-2">{{this.errorMessage || " "}}</div>
      <div class="flex flex-col justify-center items-center">
        <a class="text-md me-6">
          You don't have an account?
          <span [routerLink]="['/register']" class="text-blue-800 font-bold cursor-pointer">
            Go register
          </span>
        </a>
        <a class="text-md me-6">
          Remeber your password?
          <span [routerLink]="['/login']" class="text-blue-800 font-bold cursor-pointer">
            Log in
          </span>
        </a>
      </div>
    </form>
  </div>
</div>
