<app-navbar></app-navbar>
<div class="flex justify-center items-center">
  <div class="container flex justify-center flex-col items-center">
    <h1 class="text-center my-8">User list</h1>
    <div class="w-full flex md:flex-row flex-col justify-around items-center mb-4 px-4">
      <div class="w-full flex md:flex-row flex-col items-center justify-center">
        <input class="mb-2 md:me-2 md:mb-0 py-1" [(ngModel)]="this.searchName" type="text" placeholder="User name...">
        <input class="mb-2 md:me-2 md:mb-0 py-1" [(ngModel)]="this.searchEmail" type="text" placeholder="User email...">
        <button (click)="this.searchUsers()" class="px-2 mb-2 md:mb-0 py-1 border rounded-md w-full md:w-28 bg-slate-100">Search</button>
      </div>
    </div>
    <table class="table-auto justify-center w-full">
      <thead>
        <tr class="bg-slate-50">
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Is admin?</th>
          <th>Is verified?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @for (user of this.userList; track user.id; let i = $index) {
        <tr [ngClass]="{'bg-slate-50': i % 2 == 1}">
          <td class="me-4">
            {{user.id}}
          </td>
          <td class="me-4">
            {{user.name}}
          </td>
          <td class="me-4">
            {{user.email}}
          </td>
          <td class="me-4">
            <input class="ms-2 mt-[0.125rem]" disabled type="checkbox" [checked]="user.admin">
          </td>
          <td class="sm:ml-auto flex sm:flex-row flex-col justify-center items-center">
            @if (!user.verified) {
              <app-verify-user-modal [userName]="user.name" [userId]="user.id" (verifiedEvent)="searchUsers()" ></app-verify-user-modal>
            }
            @if (user.verified) {
              <div class="text-green-700 sm:me-4 sm:mb-0 mb-2">Verified</div>
            }
          </td>
          <td>
            <a [routerLink]="['/user/edit/'+user.id]">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg>
            </a>
          </td>
        </tr>
      }
      </tbody>
      @if (this.userList.length <= 0) {
        <div class="flex flex-row sm:w-full justify-center border border-gray-200 rounded-xl my-1 bg-gray-50 py-2 px-4 items-center">
          There are no users
        </div>
      }
    </table>
  </div>
</div>
