<div class="d-flex flex-column align-items-center px-5 border-start">
  <h1 class="mb-3">Register</h1>
  <form>
    <div class="d-flex flex-column">
      <label>User Name:</label>
      <input type="text">
    </div>
    <div class="d-flex flex-column">
      <label>User Email:</label>
      <input type="email">
    </div>
    <div class="d-flex flex-column">
      <label>User Password:</label>
      <input type="password">
    </div>
    <button class="btn btn-success w-100" type="submit">Sing in</button>
  </form>
</div>
