<div class="flex h-[100vh] justify-center items-center flex-col sm:my-0">
  <div class="p-8 flex flex-col border border-slate-200 rounded-lg items-center shadow-lg m-4">
    <h1 class="mb-1 font-bold">Update password</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label class="font-medium">New password:</label>
        <input autocomplete="password" type="password" formControlName="password">
        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-red-500">Password required</div>
      </div>
      <div class="flex flex-col">
        <label class="font-medium">Repeat password:</label>
        <input autocomplete="repeatPassword" type="password" formControlName="repeatPassword">
        <div *ngIf="userForm.get('repeatPassword')?.invalid && userForm.get('repeatPassword')?.touched" class="text-red-500">Repeat password required</div>
      </div>
      <button class="btn rounded-md disabled:bg-blue-400 bg-blue-700 w-full font-bold text-white" [disabled]="this.logging" type="submit">{{this.buttonText}}</button>
      <div class="text-red-500 w-full text-center mt-2">{{this.errorMessage || " "}}</div>
    </form>
  </div>
</div>
