<app-navbar></app-navbar>
<div class="flex justify-center items-center mb-8">
  <div class="container flex justify-center flex-col items-center">
    <h1 class="text-center my-8">Category list</h1>
    <div class="w-full flex md:flex-row flex-col justify-around items-center mb-4 px-4">
      <app-new-category-modal (caterogyEvent)="getCategories()"></app-new-category-modal>
    </div>
    <div class="w-full flex flex-col px-4">
      @for (category of this.categoryList; track category.id) {
        <div class="flex flex-row sm:w-full justify-center border border-gray-200 rounded-xl my-1 bg-gray-50 py-2 px-4 items-center">
          <div class="flex sm:flex-row flex-col">
            <div class="me-4">
              ID: {{category.id}}
            </div>
            <div class="me-4">
              Name: {{category.name}}
            </div>
            <div class="me-4">
              Description: {{category.description}}
            </div>
          </div>
          <div class="sm:ml-auto flex sm:flex-row flex-col justify-center items-center">
            <app-new-category-modal [categoryId]="category.id" (caterogyEvent)="getCategories()"></app-new-category-modal>
            <a class="mx-1 cursor-pointer" (click)="deleteCategory(category.id)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-6">
                <path d="M 10 2 L 9 3 L 4 3 L 4 5 L 5 5 L 5 20 C 5 20.522222 5.1913289 21.05461 5.5683594 21.431641 C 5.9453899 21.808671 6.4777778 22 7 22 L 17 22 C 17.522222 22 18.05461 21.808671 18.431641 21.431641 C 18.808671 21.05461 19 20.522222 19 20 L 19 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 7 5 L 17 5 L 17 20 L 7 20 L 7 5 z M 9 7 L 9 18 L 11 18 L 11 7 L 9 7 z M 13 7 L 13 18 L 15 18 L 15 7 L 13 7 z"></path>
              </svg>
            </a>
          </div>
        </div>
      }
      @if (this.categoryList.length <= 0) {
        <div class="flex flex-row sm:w-full justify-center border border-gray-200 rounded-xl my-1 bg-gray-50 py-2 px-4 items-center">
          There are no categorys
        </div>
      }
    </div>
  </div>
</div>
